<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
  <meta charset="UTF-8">
  <title>Chybová stránka</title>
  <link th:href = "@{/css/style.css}" rel="stylesheet">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<header>
  <div class="header_div">
    <h1 class="bank-name">Moje Banka</h1>
    <div class="logout">
      <form th:action="@{/logout}" method="post">
        <button type="submit" class="btn btn-secondary">Odhlásit se</button>
      </form>
    </div>
  </div>
</header>
<div class="container text-center">
  <div class="card errpage">
    <h3>Tato stránka neexistuje</h3>
    <h3>Zadali jste špatnou stránku</h3>
    <div class="goback">
      <h3> <a th:href="@{/}">Zpět</a></h3>
    </div>
  </div>
</div>
</body>
</html>
