<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
  <meta charset="UTF-8">
  <title>Registration Succeeded - CodeJAva</title>
  <link th:href = "@{/css/style.css}" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<header>
  <div class="header_div">
    <h1 class="bank-name">Moje Banka</h1>
    <div class="logout">
      <form th:action="@{/logout}" method="post">
        <button type="submit" class="btn btn-secondary">Odhlásit se</button>
      </form>
    </div>
  </div>
</header>
<div class="container text-center">
  <div>
    <h3>You have signed up succesfully!</h3>
    <h4><a th:href="@{/validate_user}">Click here to login</a></h4>
    <form th:action="@{/process_register}" method="post"
          style="max-width: 600px; margin: 0 auto;">
      <div class="m-3">
        <div class="form-group row">
          <label class="col-form-label col-4">Validační kód</label>
          <div class="col-8">
            <input type="number" class="form-control" th:field="*{verification_code}" required />
          </div>
        </div>

        <div>
          <button type="submit" class="btn btn-primary">Ověřit</button>
        </div>
      </div>
    </form>

    <p>CHECK MAIL TO VERIFY</p>
  </div>
</div>
</body>
</html>
